OPENROUTER_API_KEY=""
OPENROUTER_MODEL="openrouter/free"
RUNPOD_API_KEY=""
RUNPOD_SERVERLESS_ENDPOINT=""
MODEL_NAME="Qwen/Qwen3-14B"
LLM_PROVIDER="openrouter"

VITE_OPEN_ROUTER_KEY=""
VITE_OPEN_ROUTER_MODEL="openrouter/free"
VITE_SARVAM_API_KEY=""
QDRANT_API=""
CLUSTER_ENDPOINT=""
VITE_RUNPOD_API_KEY=""
VITE_RUNPOD_SERVERLESS_ENDPOINT=""
VITE_MODEL_NAME="Qwen/Qwen3-14B"
